
body{
    background-image:url("/static/images/Ie8m.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 1420px 700px;
    /* background-color: rgb(245, 190, 135); */
}
.container{margin-top: 90px;
    display:grid;
    justify-content: center;
    align-items: center;
    
    
}
#contact{
    
    border: 2px solid rgb(141, 132, 132);
    background-color: rgba(169, 252, 225, 0.568);
    box-shadow: 0px 0px 10px 10px rgb(95, 91, 91);
    height: 400px;
    width: 300px;
    display:grid;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 7%;
    background: transparent;
}

#email{
    height: 25px;
    width: 300px;
    border-radius: 40px 40px 40px 40px;
}

h3{
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#pwd{
    width: 120px;
    height: 30px;
    position: relative;
    top: -30px;
    left: 80px;
    border-radius: 40px 40px 40px 40px;
}
#button{
    border-radius: 40px 40px 40px 40px;
    height: 25px;
    justify-content: center;
    background-image: url("/static/images/56789.gif");
}