<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/forgetpage.css">
</head>
<body>
  <section>
<div class="main-content">

    <div id="div">

      <div class="container"style="margin-top: 60px;" >
        <div class="row">
            <div class="col">
        <form id="contact" action="/checkemail" method="post" style="margin-top: 10px;">
          <h4>
              {{msg}}
          </h4>
            <h3>Forgot Password Page</h3><br>

            <input placeholder="Email" type="text" tabindex="1" required
                   onblur="myFunction()" maxlength="50px" size="20px"
            name="email" id="email"/><br><br>


    <input id="submit" type="submit" value="Check EmailId">


      </form>
      </div>
    </div>
   </div>
 </div>
</div>
</section>
</body>
</html>