<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Order Table</h1>
            <form action="/order" method="post">
                <label for="name">Order Name:

                    <input type="text" name="name">
                </label><br><br>
                
                <label for="game">Game Name:
                    <input type="text" name="game">
                </label><br><br>


                <label for="quantity">Game quantity:
                    <input type="number" name="quantity">
                </label><br><br>

                <input type="submit">
            </form>
        </div>
        <a href="/payment">Payment</a>
    </div>
</body>
</html>