<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/passwordchange.css">
</head>
<body>
<div class="main-content">

      <div class="container"style="margin-top: 60px;" >
        <div class="row">
          <div class="col">

      </div>
        <div class="col">
        <form id="contact" action="/changepwd" method="post">
            <h3>Enter New Password</h3><br>

            <input placeholder="Your Email Id" type="text" tabindex="1"
            name="email" id="email" value="{{email}}" required readonly/><br><br>



            <input placeholder="New Password" type="password" tabindex="1"

            name="pwd" id="pwd"
            /><br><br>





    <input type="submit" value="Change Password" id="button">

        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>