<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Payments</h1>
            <form action="/payment" method="post">
                <label for="method">Payment Method:

                    <input type="text" name="payment">
                </label><br><br>
                
                <label for="amount">amount:
                    <input type="number" name="amount">
                </label><br><br>


                <label for="status">Payment Status:
                    <input type="text" name="status">
                </label><br><br>

                <input type="submit">
            </form>
        </div>
    </div>
</body>
</html>