<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Product Tabale</h1>
    {{msg}}
    <div>
        <form action="/product" method="post">
            <label for="name">Product Name:
                <input type="text" name="pname">
            </label><br><br>
            <label for="price">Price:
                <input type="text" name="price">
            </label><br><br>
            <label for="Product">Product Type:
                <input type="text" name="type">
            </label><br><br>

            <input type="submit" value="Add">


        </form>
    </div>
</body>
</html>